<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.fliikamobilern">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
                <meta-data android:name="BITMOVIN_PLAYER_LICENSE_KEY" android:value="2ab6b979-f679-4c7d-8a18-b455e6e6992b" />
                      <meta-data android:name="BITMOVIN_ANALYTICS_LICENSE_KEY" android:value="69bab32b-7905-4aa2-ae25-06edb1ebf460"/>
      <meta-data android:name="BITMOVIN_PLAYER_CSS" android:value="https://stagev2-app-assets.britbox.takeoffmedia.com/player/poc/css/bitmovinplayer-ui.min.css"/>
      <meta-data android:name="BITMOVIN_PLAYER_JS" android:value="https://stagev2-app-assets.britbox.takeoffmedia.com/player/poc/js/bitmovinplayer-ui.min.js"/>
    </application>
</manifest>
